.text-decoration-none {
  margin-left: 10px;
  font-weight: 600;
}

.wedding-btn {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.toast:not(.show) {
  display: block;
}

.selected {
  -webkit-transform: scale(1.05) translateY(-30px);
          transform: scale(1.05) translateY(-30px);
}

.packages {
  margin: 100px 0 !important;
  line-height: 30px;
}

footer {
  height: 300px;
}