$primary: red;
.text-decoration-none {
  margin-left: 10px;
}
.wedding-btn {
  max-width: max-content;
}
.toast:not(.show) {
  display: block;
}
.end-0.toast {
  right: -5em !important;
}
.active {
  transform: scale(1.05) translateY(-30px);
}
.packages {
  margin: 100px 0 !important;
  line-height: 30px;
}
footer {
  height: 300px;
}
